* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--colorOptions);
}

:root {
  font-family: 'Rubik', sans-serif;
  --sizeOptions: 16px;
  --sizeTitle: 30px;
  --colorOptions: #4a4a4a;
  --colorTitle: #ffffff;
  --mainColor: #3cdbc0;
}

/* styles header */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  z-index: 99;
  position: sticky;
  background-color: #ffffff;
  padding-bottom: 3px;
}

.logo {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
}

.link {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: var(--sizeOptions);
  color: var(--colorOptions);
}

.link a {
  padding: 10px;
}

.menu {
  display: flex;
}

/* styles main */
.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
  width: 100%;
  position: absolute;
  top: 0;
}

.title {
  width: 11ch;
  word-spacing: 100vw;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  color: var(--colorTitle);
}

/* Responsive Tablet & Desktop */
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 20px;
    justify-content: space-between;
  }
  .logo {
    margin-top: 0;
    justify-content: left;
  }
  .title {
    font-family: inherit;
    font-size: 40px;
  }
}
