* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--colorOptions);
}

:root {
  font-family: "Rubik", sans-serif;
  --sizeOptions: 16px;
  --sizeTitle: 30px;
  --colorOptions: #4a4a4a;
  --colorTitle: #ffffff;
  --mainColor: #3cdbc0;
}

/* styles header */
.header {
  padding-top: 10px;
  padding-bottom: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 99;
  top: 0;
  background-color: #ffffff;
}

.logo {
  padding: 10 0 30 0 px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
}

.link {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-family: inherit;
  font-size: var(--sizeOptions);
  color: var(--colorOptions);
  padding-right: 20px;
}

.menu {
  display: flex;
  padding-top: 10px;
}

/* styles main */
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
  font-size: var(--sizeTitle);
  font-weight: bolder;
  color: var(--colorTitle);
}

/* Responsive Tablet & Desktop */

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 20px 30px;
  }
  .logo {
    justify-content: left;
  }
}
